# Ignore everything
/*

# Except these files & folders
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.js
!/src/**/*.jsx
!/src/**/*.astro
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md
