@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* https://catppuccin.com/palette/ */
:root,
html[data-theme="light"] {
  /* --background: #eff1f5; */
  /* --background: #dce0e8; */
  --background: #e6e9ef;
  --foreground: #4c4f69;
  /* --accent: #1e66f5; */
  /* --accent: #8839ef; */
  /* --accent: #40a02b; */
  /* --accent: #d20f39; */
  /* --accent: #fe640b; */
  /* --accent: #179299; */
  --accent: #7287fd;
  --muted: #ccd0da;
  --border: #acb0be;
}

/* --- Catppuccin Frappé (Dark) --- */
html[data-theme="dark"] {
  /* --background: #303446; */
  /* --background: #292c3c; */
  --background: #232634;
  --foreground: #c6d0f5;
  /* --accent: #f8a19f; */
  /* --accent: #ca9ee6; */
  /* --accent: #a6d189; */
  /* --accent: #e78284; */
  --accent: #8caaee;
  --muted: #414559;
  --border: #626880;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }

  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }

  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
