.mermaid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mermaid-light {
  display: block;
}

.mermaid-dark {
  display: none;
}

html[data-theme="dark"] .mermaid-light {
  display: none;
}

html[data-theme="dark"] .mermaid-dark {
  display: block;
}
